[Service]
User=root
WorkingDirectory=/home/DoctorConnect
ExecStart=/home/DoctorConnect/venv/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target