body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
}
hr{
    width: 100%;
    border: 1px solid black;


}
.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    margin: 20px;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

header form input:hover {
    background: #0056b3;
}

.success {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"], select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
}

.color {
    display: flex;
    justify-content: space-between;
    width: 20%;
    min-width: 200px;
    margin-bottom: 20px;
}

.color_letter {
    margin-right: 10px;
}

.color_number {
    margin-left: 10px;
}

.create {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}



input[type="submit"]:hover {
    background: #218838;
}

.tooth-selection-container {
    overflow-x: auto;
    white-space: nowrap;

}

.tooth-selection {
    display: flex
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    position:sticky;
}

.separator {
    width: 2px;
    background-color: #000;
    height: calc(100% + 40px); /* Adjust the height to ensure the separator spans both rows */
    position: absolute;
    left: 50%;
    top: -20px; /* Adjust the top position to ensure the separator spans both rows */
    z-index: +1;
    y-index: +1;
}

.button-tooth {
    background-color: transparent;
    border: 2px solid #d8d7db;
    border-radius: 10px;
    width: 100px;
    font-size: 100%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    z-index: 1;
}

.button-tooth img {
    max-width: 100px;
    width: 100%;
}

.button-tooth:hover {
    background-color: #f2f3f7;
}

.button-tooth.selected {
    background-color: #7ef78b;
    border-color: #4CAF50;
}

@media screen and (max-width: 900px) {


    .container {
        padding: 10px;
    }
}


/* Стили для order-block */
.order-block {
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}

/* Стили для кнопки удаления */
.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 40px;
    cursor: pointer;
}

/* Стили для кнопки добавления */
.add-order-button {
    text-align: center;
    margin-top: 30px;

}

.add-order-button button {
    margin-bottom: 20px;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

.add-order-button button:hover {
    background: #0056b3;
}

