body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
}
hr{
    border: 1px solid black;

}
.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    margin: 20px;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

header form input:hover {
    background: #0056b3;
}

.success {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"], select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
}

.color {
    display: flex;
    justify-content: space-between;
    width: 20%;
    min-width: 200px;
    margin-bottom: 20px;
}

.color_letter {
    margin-right: 10px;
}

.color_number {
    margin-left: 10px;
}

.create {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}

.personal {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    background: #218838;
}

.tooth-selection-container {
    position: relative;
}

.tooth-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}

.separator {
    width: 2px;
    background-color: #000;
    height: calc(100% + 40px); /* Adjust the height to ensure the separator spans both rows */
    position: absolute;
    left: 50%;
    top: -20px; /* Adjust the top position to ensure the separator spans both rows */
    z-index: 0;
}

.button-tooth {
    background-color: transparent;
    border: 2px solid #d8d7db;
    border-radius: 10px;
    width: 5.4%;
    font-size: 100%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    z-index: 1;
}

.button-tooth img {
    max-width: 100px;
    width: 100%;
}

.button-tooth:hover {
    background-color: #f2f3f7;
}

.button-tooth.selected {
    background-color: #7ef78b;
    border-color: #4CAF50;
}

@media screen and (max-width: 600px) {
    .button-tooth {
        font-size: 60%;
        width: 10%;
    }

    .container {
        padding: 10px;
    }
}
