body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-family: Georgia, serif;
}
header {
    background-color: white;
    color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-family: Georgia, serif;
}
header h1 {
    margin-left: 10%;
    display: flex;
    align-items: center;
    font-size: 2.5vh;
}
header img {
    margin-right: 20px;
}
header form {
    margin-right: 10%;
}
header form input[type="submit"] {
    background-color: white;
    color: #333;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 2vh;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    color: black;
}
.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.actions form {
    width: 48%;
}

.actions input[type="submit"] {
    background-color: rgb(3,182,236);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 3vh;
    width: 100%;
    white-space: normal;
    text-align: center;
    height: 20vh;
    font-weight: bold;
}
.price-button{
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #4CAF50;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}

@media (min-width: 768px) {
    .actions input[type="submit"] {
        font-size: 4vh;
    }
}

.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #00CED1;
    color: white;
}
tr:hover {
    background-color: #f1f1f1;
}
tr.yellow {
    background-color: yellow;
}
tr.green {
    background-color: #7ef78b;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

select {
    width: calc(100%);
    max-width:400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.tooth-formula {
    border-collapse: collapse;
    table-layout: auto; /* Подстраиваем ширину под содержимое */
    text-align: center;
}

.tooth-formula td {
    padding: 0px;
    vertical-align: middle;
    height: 40px;
    white-space: nowrap; /* Запрещаем переносы */
    border-right: 2px solid #333; /* Правые границы */
    border-bottom: 2px solid #333; /* Нижние границы */
    min-width: 200px;
}

/* Убираем правую и нижнюю границы для последней ячейки в строках */
.tooth-formula tr td:last-child { border-right: none; }
.tooth-formula tr:last-child td { border-bottom: none; }

/* Выровнять первый столбец по правому краю, второй по левому */
.tooth-formula td:first-child {
    text-align: right;
    padding-right: 10px;
}
.tooth-formula td:last-child {
    text-align: left;
    padding-left: 10px;
}