<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/authorization.css">
    <link rel="icon" href="/images/tooth.png" type="image/png">
</head>
<body>
<div class="container-fluid">

    <div class="background">
         <div class="login-container">
            <img src="/images/logo.png" alt="Logo">
            <h1>Вход в личный кабинет</h1>
            <form method="post" action="/account/enter">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
                {% if wrong_password %}
                <label class="wrong_pass">Неверный логин или пароль попробуйте еще раз</label><br>
                {% endif %}
                <input type="submit" value="Войти">
            </form>
            <br>
            <form method="get" action="/registration">
                <input type="submit" value="Зарегистрироваться">
            </form>
            <br>
            <form method="get" action="/forgot-password">
                <a href="/forgot">Забыли пароль?</a>
            </form>
        </div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
</div>
</body>
</html>
