<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание заказа</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create_order.css">
</head>

<body>

<div class="container">
    <header>
        <h1>Создание заказа</h1>
    </header>
    <form method="get" action="/account">
        <input class="personal" type="submit" value="Личный кабинет">
    </form>
    {% if success %}
    <div class="success">
        <h2>Заказ отправлен успешно</h2>
    </div>
    {% endif %}
    <form id="order_form" method="post" action="/order/create">
        <div class="form-group">
            <label>ФИО пациента:</label>
            <input type="text" name="patient" required><br><br>
        </div>
        <div class="form-group">
            <label for="technik">Выберите техника:</label>
            <select id="technik" name="technik">
                {% for technik in techniks %}
                <option value="{{technik.id}}">{{technik.name}}</option>
                {% endfor %}
            </select><br><br>
        </div>
        <div class="tooth-selection-container">
            <div class="tooth-selection">
                {% for tooth in first_row %}
                {% if tooth == 21 %}
                <div class="separator"></div>
                {% endif %}
                <button class="button-tooth {% if tooth in selected_tooth %}selected{% endif %}">
                    <img src="/images/tooth.png" alt="Tooth"><br>
                    {{tooth}}
                </button>
                {% endfor %}
            </div>
            <hr>
            <div class="tooth-selection">
                {% for tooth in second_row %}
                {% if tooth == 31 %}
                <div class="separator"></div>
                {% endif %}
                <button class="button-tooth {% if tooth in selected_tooth %}selected{% endif %}">
                    <img src="/images/tooth.png" alt="Tooth"><br>
                    {{tooth}}
                </button>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <label>Вид работы:</label>
            <select id="type" name="type">
                {% for type in job_types %}
                <option value="{{type}}">{{type}}</option>
                {% endfor %}
            </select><br><br>
        </div>
        <div class="form-group">
            <label>Цвет конструкции:</label>
            <div class="color">
                <select id="color_letter" name="color_letter" class="color_letter">
                    {% for color in color_letter %}
                    <option value="{{color}}">{{color}}</option>
                    {% endfor %}
                </select>
                <select id="color_number" name="color_number" class="color_number">
                    {% for number in color_number %}
                    <option value="{{number}}">{{number}}</option>
                    {% endfor %}
                </select><br><br>
            </div>
        </div>
        <div class="form-group">
            <label>Комментарии:</label>
            <input type="text" name="comment" value=""><br><br>
        </div>
        <div class="form-group">
            <label>Дата примерка:</label>
            <input type="date" name="fitting"><br><br>
        </div>
        <div class="form-group">
            <label>Дата сдачи работы:</label>
            <input type="date" name="deadline" required><br><br>
        </div>

        <input id="submit" type="submit" value="Создать" class="create">
    </form>
</div>
<script src="/js/create_order.js"></script>
</body>
</html>
