<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание заказа</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create_order.css">
    <link rel="stylesheet" href="/css/tooth.css">
    <link rel="icon" href="/images/tooth.png" type="image/png">
</head>

<body>

<h1>Создание заказа</h1>
<div class="plan" id="procedure_form">
    <form method="get" action="/account">
        <input class="personal" type="submit" value="Личный кабинет">
    </form>
    <label class="label">ФИО пациента:</label>
    <input list="options" id="fio" class="fio" name="patient" required>
    <datalist id="options">
        <option value=""></option>
        {% for patient in patients %}
        <option value="{{patient[1]}}">{{patient[1]}}</option>
        {% endfor %}
    </datalist>
    <label for="technik">Выберите техника:</label>
    <select id="technik" name="technik">
        {% for technik in techniks %}
        <option value="{{technik.id}}">{{technik.name}}</option>
        {% endfor %}
    </select><br><br>

    <div id="order-container-1" class="order-block">
        <button class="button-select" onclick="selectTopRow(this)">Выбрать верхний ряд</button>
        <div class="scroll-container">
            <div class="tooth-selection-container">
                <div class="tooth-selection" id="top-tooth">
                    {% for tooth in first_row %}
                    {% if tooth == 21 %}
                    <div class="separator"></div>
                    {% endif %}
                    {% if tooth in selected_tooth %}
                    <button style="background-color:#7ef78b" class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% else %}
                    <button class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% endif %}
                    {% endfor %}
                </div>
                <hr>
                <div class="tooth-selection" id="bottom-tooth">
                    {% for tooth in second_row %}
                    {% if tooth == 31 %}
                    <div class="separator"></div>
                    {% endif %}
                    {% if tooth in selected_tooth %}
                    <button style="background-color:#7ef78b" class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% else %}
                    <button class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <button class="button-select" style="margin-bottom: 20px" onclick="selectBottomRow(this)">Выбрать нижний
            ряд
        </button>
        <div class="form-group">
            <label>Вид работы:</label>
            <select id="type" name="type">
                {% for type in job_types %}
                <option value="{{type}}">{{type}}</option>
                {% endfor %}
            </select><br><br>
        </div>
        <div class="form-group">
            <label>Цвет конструкции:</label>
            <div class="color">
                <select id="color_letter" name="color_letter" class="color_letter">
                    {% for color in color_letter %}
                    <option value="{{color}}">{{color}}</option>
                    {% endfor %}
                </select>
                <select id="color_number" name="color_number" class="color_number">
                    {% for number in color_number %}
                    <option value="{{number}}">{{number}}</option>
                    {% endfor %}
                </select><br><br>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <label>Прикрепить фото</label>
            <label class="input-file">
                <input type="file" name="file" accept=".jpg, .jpeg, .png" multiple onchange="handleFileChange(event)">
                <span class="input-file-btn">Выберите файл</span>
                <span class="input-file-text">Максимум 50мб</span>
            </label>
        </div>
        <div class="form-group">
            <label>Комментарии:</label>
            <input id="text" type="text" name="comment" value=""><br><br>
        </div>
        <div class="form-group">
            <label>Дата примерка:</label>
            <input id="date_fitting" type="date" onclick="this.showPicker()" name="fitting"><br><br>
        </div>
        <div class="form-group">
            <label>Дата сдачи работы:</label>
            <input id="date_deadline" type="date" onclick="this.showPicker()" name="deadline" required><br><br>
        </div>
        <div class="delete-button">
            <button class="delete-btn" onclick="deleteOrderBlock(this)">×</button>
        </div>
    </div>


    <div id="add-order" class="add-procedure-button">
        <button onclick="addOrderBlock()">Добавить работу</button>
    </div>

    <input id="submit" type="submit" value="Создать" class="personal">
</div>
<!--<script src="/js/create_order.js"></script>-->
<script src="/js/create_order.js"></script>

</body>
</html>
