<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/doctor_personal_account.css">
    <title>Личный кабинет</title>

</head>
<body>
<header>
    <h1>
        <img src="/images/logo.png" alt="Логотип" width="100" height="65">
        Личный кабинет
    </h1>
    <form method="get" action="/logout">
        <input type="submit" value="Выход">
    </form>
</header>
<div class="container">
    <h2>Добро пожаловать, {{fio}}!</h2>
    <div class="actions">
        <form method="get" action="/order/create" style="display: inline;">
            <input type="submit" value="Создать заказ">
        </form>
        <form method="get" action="/order/plan" style="display: inline;">
            <input type="submit" value="Создать план лечения">
        </form>
    </div>

    <h2>Невыполненные заказы</h2>
    <div class="table-container">
        <table>
            <tr>
                <th>ФИО пациента</th>
                <th>Техник</th>
                <th>Зубная формула</th>
                <th>Вид работы</th>
                <th>Дата сдачи работы</th>
                <th>Изменить</th>
            </tr>
            {% for order in not_done %}
            <tr>
                <td>{{order[1]}}</td>
                <td>{{order[7]}}</td>
                <td>{{order[2]}}</td>
                <td>{{order[3]}}</td>
                <td>{{order[5]}}</td>
                <td><a href="/order/get/{{order[0]}}">Изменить</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br><br>
    <h2>Отправлены на примерку</h2>
    <div class="table-container">
        <table>
            <tr>
                <th>ФИО пациента</th>
                <th>Техник</th>
                <th>Зубная формула</th>
                <th>Вид работы</th>
                <th>Дата сдачи работы</th>
                <th>Изменить</th>
            </tr>
            {% for order in fitting_done %}
            <tr>
                <td>{{order[1]}}</td>
                <td>{{order[7]}}</td>
                <td>{{order[2]}}</td>
                <td>{{order[3]}}</td>
                <td>{{order[5]}}</td>
                <td><a href="/order/get/{{order[0]}}">Изменить</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br><br>
    <h2>Выполненные заказы</h2>
    <div class="table-container">
        <table>
            <tr>
                <th>ФИО пациента</th>
                <th>Техник</th>
                <th>Зубная формула</th>
                <th>Вид работы</th>
                <th>Дата сдачи работы</th>
                <th>Изменить</th>
            </tr>
            {% for order in done %}
            <tr>
                <td>{{order[1]}}</td>
                <td>{{order[7]}}</td>
                <td>{{order[2]}}</td>
                <td>{{order[3]}}</td>
                <td>{{order[5]}}</td>
                <td><a href="/order/get/{{order[0]}}">Изменить</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>
