<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>=Создание плана лечения</title>
    <link rel="stylesheet" href="/css/create_order.css">
</head>

<body>

<h1>Создание заказа</h1>
<form method="get" action="/account">
    <input type="submit" value="Личный кабинет">
</form>
<form id="procedure_form" method="post" action="/order/plan">
<label>ФИО пациента:</label>
<input name="patient" required><br><br>
{% for tooth in first_row %}
{% if tooth in selected_tooth %}
<button style="background-color:#7ef78b" class="button-tooth">
    <img src="/images/tooth.png" alt="Tooth"><br>
    {{tooth}}
</button>
{% else %}
<button class="button-tooth">
    <img src="/images/tooth.png" alt="Tooth"><br>
    {{tooth}}
</button>
{% endif %}
{% endfor %}
<br>
{% for tooth in second_row %}
{% if tooth in selected_tooth %}
<button style="background-color:#7ef78b" class="button-tooth">
    <img src="/images/tooth.png" alt="Tooth"><br>
    {{tooth}}
</button>
{% else %}
<button class="button-tooth">
    <img src="/images/tooth.png" alt="Tooth"><br>
    {{tooth}}
</button>
{% endif %}
{% endfor %}
<br><br>


<label>Направление:</label>
<select id="type" name="type">
    {% for type in job_types %}
    <option value="{{type}}">{{type}}</option>
    {% endfor %}

</select>
<label>Процедура:</label>
<select id="name" name="name">
    {% for name in names %}
    <option value="{{name}}">{{name}}</option>
    {% endfor %}

</select><br><br>
<button class="button-create">
    Добавить процедуру
</button>
<br><br>



<input id="submit" type="submit" value="Создать">


</form>
<script src="/js/create_order.js"></script>
</body>
</html>