<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>=Создание плана лечения</title>
    <link rel="stylesheet" href="/css/create_order.css">
</head>

<body>

<h1>Создание заказа</h1>
<form method="get" action="/account">
    <input type="submit" value="Личный кабинет">
</form>

    <label>ФИО пациента:</label>
    <input name="patient" required><br><br>
    {% for tooth in first_row %}
    {% if tooth in selected_tooth %}
    <button style="background-color:#7ef78b" class="button-tooth">
        <img src="/images/tooth.png" alt="Tooth"><br>
        {{tooth}}
    </button>
    {% else %}
    <button class="button-tooth">
        <img src="/images/tooth.png" alt="Tooth"><br>
        {{tooth}}
    </button>
    {% endif %}
    {% endfor %}
    <br>
    {% for tooth in second_row %}
    {% if tooth in selected_tooth %}
    <button style="background-color:#7ef78b" class="button-tooth">
        <img src="/images/tooth.png" alt="Tooth"><br>
        {{tooth}}
    </button>
    {% else %}
    <button class="button-tooth">
        <img src="/images/tooth.png" alt="Tooth"><br>
        {{tooth}}
    </button>
    {% endif %}
    {% endfor %}
    <br><br>


    <label>Вид работы:</label>
    <select id="type" name="type">
        {% for type in job_types %}
        <option value="{{type}}">{{type}}</option>
        {% endfor %}

    </select><br><br>
    <label>Цвет конструкции:</label>
    <select id="color_letter" name="color_letter">
        {% for color in color_letter %}
        <option value="{{color}}">{{color}}</option>
        {% endfor %}
    </select>
    <select id="color_number" name="color_number">
        {% for number in color_number %}
        <option value="{{number}}">{{number}}</option>
        {% endfor %}
    </select><br><br>
    <label>Комментарии:</label>
    <input type="text" name="comment" value=""><br><br>
    <label>Дата примерка:</label>
    <input type="date" name="fitting"><br><br>
    <label>Дата сдачи работы:</label>
    <input type="date" name="deadline" required><br><br>
    <label for="technik">Выберите техника:</label>
    <select id="technik" name="technik">
        {% for technik in techniks %}
        <option value="{{technik.id}}">{{technik.name}}</option>
        {% endfor %}
    </select><br><br>
    <input id="submit" type="submit" value="Создать">


</form>
<script src="/js/create_order.js"></script>
</body>
</html>