<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание плана лечения</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/plan.css">
    <link rel="stylesheet" href="/css/tooth.css">
    <link rel="icon" href="/images/tooth.png" type="image/png">
</head>

<body>
<div id="loading-overlay" style="display: none;">
    <div class="loading-content">
        <img src="/images/gear.gif" alt="Loading">
        <p>Создание плана...</p>
    </div>
</div>
<h1>Создание плана лечения</h1>
<div class="plan" id="procedure_form">
    <form method="get" action="/account">
        <input class="personal" type="submit" value="Личный кабинет">
    </form>
    <label class="label">ФИО пациента:</label>
    <input list="options" id="combobox" class="fio" name="patient" required>
    <datalist id="options">
        <option value=""></option>
        {% for patient in patients %}
        <option value="{{patient[1]}}">{{patient[1]}}</option>
        {% endfor %}
    </datalist>
    <label for="calendar">Выберите дату рождения:</label>
    <input type="date" id="calendar" name="calendar">


    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="modal-body"></div>
            <div class="button-group" style="margin-bottom : 0px;margin-top : 20px; ">
                <button class="button-action" onclick="addNewField()">Добавить услугу</button>
                <button class="button-action" id="saveProcedures">Сохранить</button>
            </div>
        </div>
    </div>
    <div id="stage">
        <div id="procedure-container-1" class="procedure-block">
            <label class="label">Название этапа:</label>
            <input type="text" id="stage-name" class="stage-name" name="stage" required>
            <br>
            <button class="button-select" onclick="selectTopRow(this)">Выбрать верхний ряд</button>
            <div class="scroll-container">
                <div class="tooth-selection-container">
                    <div class="tooth-selection" id="top-tooth">
                        {% for tooth in first_row %}
                        {% if tooth == 21 %}
                        <div class="separator"></div>
                        {% endif %}
                        {% if tooth in selected_tooth %}
                        <button style="background-color:#7ef78b" class="button-tooth">
                            {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                            <img src="/images/incisor.png" alt="Tooth"><br>
                            {% else %}
                            <img src="/images/tooth.png" alt="Tooth"><br>
                            {% endif %}
                            {{tooth}}
                        </button>
                        {% else %}
                        <button class="button-tooth">
                            {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                            <img src="/images/incisor.png" alt="Tooth"><br>
                            {% else %}
                            <img src="/images/tooth.png" alt="Tooth"><br>
                            {% endif %}
                            {{tooth}}
                        </button>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="tooth-selection" id="bottom-tooth">
                        {% for tooth in second_row %}
                        {% if tooth == 31 %}
                        <div class="separator"></div>
                        {% endif %}
                        {% if tooth in selected_tooth %}
                        <button style="background-color:#7ef78b" class="button-tooth">
                            {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                            <img src="/images/incisor.png" alt="Tooth"><br>
                            {% else %}
                            <img src="/images/tooth.png" alt="Tooth"><br>
                            {% endif %}
                            {{tooth}}
                        </button>
                        {% else %}
                        <button class="button-tooth">
                            {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                            <img src="/images/incisor.png" alt="Tooth"><br>
                            {% else %}
                            <img src="/images/tooth.png" alt="Tooth"><br>
                            {% endif %}
                            {{tooth}}
                        </button>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="button-select" style="margin-bottom: 20px" onclick="selectBottomRow(this)">Выбрать нижний
                ряд
            </button>
            <label class="label">Направление:</label>
            <select id="procedure-select" name="type" onchange="updateType(event)">
                <option value="None" disabled selected hidden>Выбрать направление</option>
                {% for type in job_types %}
                <option value="{{type}}">{{type}}</option>
                {% endfor %}
            </select>
            <!--        <div class="button-group">-->
            <!--            <button id="template" type="submit" style="display: none" onclick="addTemplate()" class="button-action">Готовый прайс</button>-->
            <!--            <button id="manual" type="submit" style="display: none" class="button-action">Собрать вручную</button>-->
            <!--        </div>-->
            <select id="sub-procedure" name="type" style="display: none">

                <option value="None" disabled selected hidden>Выбрать поднаправление</option>

            </select>

            <div id="all_procedure">

            </div>
            <div class="delete-button">
                <button class="delete-btn" onclick="deleteOrderBlock(this)">×</button>
            </div>
        </div>
    </div>


    <div id="add-order" class="add-procedure-button">
        <button onclick="addOrderBlock()">Добавить новый этап</button>
    </div>

    <input id="submit" type="submit" value="Создать" class="personal">
</div>
<!--<script src="/js/create_order.js"></script>-->
<script src="/js/plan.js"></script>

</body>
</html>
