<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>
<div class="container-fluid">

    <div class="background">
        <div class="register-container">
            <img src="/images/logo.png" alt="Logo">
            <h1>Регистрация</h1>
            <form method="post" action="/registration">
                <label for="fio">ФИО:</label>
                <input type="text" id="fio" name="fio">

                <label for="email">Почта:</label>
                <input type="email" id="email" name="email">

                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password">

                <label for="repeat_password">Повторить пароль:</label>
                <input type="password" id="repeat_password" name="repeat_password">

                <label for="speciality">Выберите специальность:</label>
                <select id="speciality" name="speciality">
                    <option value="doctor">Врач</option>
                    <option value="technik">Зубной техник</option>
                </select>
                <a href="/authorization">Уже есть аккаунт</a>
                <input type="submit" value="Зарегистрировать">
            </form>
        </div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>


    </div>
</div>

</body>
</html>