<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр заказа</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit_order.css">

</head>

<body>

<div class="container">
    <header>
        <h1>Просмотр заказа</h1>
    </header>
    <form method="get" action="/account">
        <input class="personal" type="submit" value="Личный кабинет">
    </form>

    <div class="form-group">
            <label>ФИО пациента:</label>
            <input type="text" value="{{order[1]}}" name="patient" required><br><br>
        </div>

    <div class="tooth-selection-container">
        <div class="tooth-selection">
            {% for tooth in first_row %}
                {% if tooth == 21 %}
                    <div class="separator"></div>
                {% endif %}
                <button class="button-tooth {% if tooth in selected_tooth %}selected{% endif %}">
                    <img src="/images/tooth.png" alt="Tooth"><br>
                    {{tooth}}
                </button>
            {% endfor %}
        </div>
        <hr>
        <div class="tooth-selection">
            {% for tooth in second_row %}
                {% if tooth == 31 %}
                    <div class="separator"></div>
                {% endif %}
                <button class="button-tooth {% if tooth in selected_tooth %}selected{% endif %}">
                    <img src="/images/tooth.png" alt="Tooth"><br>
                    {{tooth}}
                </button>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label>Вид работы:</label>
        <input type="text" name="type" value="{{order[3]}}"><br><br>
    </div>

    <div class="form-group">
        <label>Цвет конструкции:</label>
        <input type="text" name="color" value="{{order[11]}}{{order[13]}}"><br><br>
    </div>

    <div class="form-group">
        <label>Комментарии:</label>
        <input type="text" name="comment" value="{{order[8]}}"><br><br>
    </div>

    <div class="form-group">
        <label>Дата примерка:</label>
        <input type="date" name="fitting" value="{{order[4]}}"><br><br>
    </div>

    <div class="form-group">
        <label>Дата сдачи работы:</label>
        <input type="date" name="deadline" value="{{order[5]}}"><br><br>
    </div>

    <div class="form-group">
        <label for="doctor">Доктор:</label>
        <input id="doctor" type="text" name="doctor" value="{{doctor[1]}}"><br><br>
    </div>
    <div class="button-group">
    <form id="fitting_done_form" method="post" action="/order/done/fitting/{{order[0]}}">
        <input type="checkbox" name="fitting_done" id="fitting_done" {% if order[12] %} checked {% endif %}>
        <label class="button-action" for="fitting_done">Готова к примерке</label>
    </form>

    <form id="done_form" method="post" action="/order/done/{{order[0]}}">
        <input type="checkbox" name="done" id="done"  {% if order[9] %} checked {% endif %}>
        <label class="button-action" for="done">Заказ выполнен</label>
    </form>
</div>
</div>

<script src="/js/show_order.js"></script>
</body>
</html>
