<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр заказа</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit_order.css">
    <link rel="stylesheet" href="/css/tooth.css">
    <link rel="icon" href="/images/tooth.png" type="image/png">
</head>

<body>

<h1>Просмотр заказа</h1>
<div class="plan" id="procedure_form">
    <form method="get" action="/account">
        <input class="personal" type="submit" value="Личный кабинет">
    </form>
    <label class="label">ФИО пациента:</label>
    <input value="{{order[1]}}" id="fio" class="fio" name="patient" required readonly><br>
    <div class="form-group">
        <label for="doctor">Техник:</label>
        <input id="doctor" type="text" name="doctor"
               value="{{ technic[1] }}" readonly><br><br>

    </div>
    <div id="order-container" class="order-block">
        <div class="scroll-container">
            <div class="tooth-selection-container">
                <div class="tooth-selection" id="top-tooth">
                    {% for tooth in first_row %}
                    {% if tooth == 21 %}
                    <div class="separator"></div>
                    {% endif %}
                    {% if tooth in selected_tooth %}
                    <button style="background-color:#7ef78b" class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% else %}
                    <button class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% endif %}
                    {% endfor %}
                </div>
                <hr>
                <div class="tooth-selection" id="bottom-tooth">
                    {% for tooth in second_row %}
                    {% if tooth == 31 %}
                    <div class="separator"></div>
                    {% endif %}
                    {% if tooth in selected_tooth %}
                    <button style="background-color:#7ef78b" class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% else %}
                    <button class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Вид работы:</label>
            <input type="text" name="type" value="{{order[3]}}" readonly><br><br>
        </div>

        <div class="form-group">
            <label>Цвет конструкции:</label>
            <input type="text" name="color" value="{{order[11]}}{{order[13]}}" readonly><br><br>
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <label>Фотографии</label>
            <div class="photos_container">
                    {% for photo in photos %}
                    <div class="photo_wrapper">
                        <a href="/order/photo/show/{{photo[2]}}">
                            <img src="/order/photo/show/{{photo[2]}}" alt="Photo" class="photo_thumbnail">
                        </a>
                    </div>
                    {% endfor %}
                </div>
        </div>
        <div class="form-group">
            <label>Комментарии:</label>
            <textarea name="comment" readonly>{{order[8]}}</textarea> <br><br>
        </div>

        <div class="form-group">
            <label>Дата примерка:</label>
            <input type="date" name="fitting" value="{{order[4]}}" readonly><br><br>
        </div>

        <div class="form-group">
            <label>Дата сдачи работы:</label>
            <input type="date" name="deadline" value="{{order[5]}}" readonly><br><br>
        </div>

    </div>

</div>
<!--<script src="/js/create_order.js"></script>-->
<script src="/js/show_order.js"></script>

</body>
</html>
