<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр заказа</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit_order.css">
    <link rel="stylesheet" href="/css/tooth.css">
    <link rel="icon" href="/images/tooth.png" type="image/png">
</head>

<body>

<h1>Просмотр заказа</h1>
<div class="plan" id="procedure_form">
    <form method="get" action="/account">
        <input class="personal" type="submit" value="Личный кабинет">
    </form>
    <label class="label">ФИО пациента:</label>
    <input value="{{order[1]}}" id="fio" class="fio" name="patient" required readonly><br>
    <div class="form-group">
        <label for="doctor">Техник:</label>
        <input id="doctor" type="text" name="doctor"
               value="{{ technic[1] }}" readonly><br><br>

    </div>
    <div id="order-container" class="order-block">
        <div class="scroll-container">
            <div class="tooth-selection-container">
                <div class="tooth-selection" id="top-tooth">
                    {% for tooth in first_row %}
                    {% if tooth == 21 %}
                    <div class="separator"></div>
                    {% endif %}
                    {% if tooth in selected_tooth %}
                    <button style="background-color:#7ef78b" class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% else %}
                    <button class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% endif %}
                    {% endfor %}
                </div>
                <hr>
                <div class="tooth-selection" id="bottom-tooth">
                    {% for tooth in second_row %}
                    {% if tooth == 31 %}
                    <div class="separator"></div>
                    {% endif %}
                    {% if tooth in selected_tooth %}
                    <button style="background-color:#7ef78b" class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% else %}
                    <button class="button-tooth">
                        {% if tooth % 10 > 0 and tooth % 10 < 6 %}
                        <img src="/images/incisor.png" alt="Tooth"><br>
                        {% else %}
                        <img src="/images/tooth.png" alt="Tooth"><br>
                        {% endif %}
                        {{tooth}}
                    </button>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Вид работы:</label>
            <input type="text" name="type" value="{{order[3]}}" readonly><br><br>
        </div>

        <div class="form-group">
            <label>Цвет конструкции:</label>
            <input type="text" name="color" value="{{order[11]}}{{order[13]}}" readonly><br><br>
        </div>
        {% if photos %}
        <div class="form-group" style="margin-bottom: 20px;">
            <label>Фотографии</label>
            <div class="photos_container">
                    {% for photo in photos %}
                    <div class="photo_wrapper">
                        <a href="/order/photo/show/{{photo[2]}}">
                            <img src="/order/photo/show/{{photo[2]}}" alt="Photo" class="photo_thumbnail">
                        </a>
                    </div>
                    {% endfor %}
                </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label>Комментарии:</label>
            <textarea name="comment" readonly>{{order[8]}}</textarea> <br><br>
        </div>

        <div class="form-group">
            <label>Дата примерка:</label>
            <input type="date" name="fitting" value="{{order[4]}}" readonly><br><br>
        </div>

        <div class="form-group">
            <label>Дата сдачи работы:</label>
            <input type="date" name="deadline" value="{{order[5]}}" readonly><br><br>
        </div>
         {% if order[14] != -1%}
            <div class="form-group">
                <label>Цена (руб.):</label>
                <input type="number" value="{{order[14]}}" readonly><br><br>
            </div>
            {% endif %}
            {% if technik_files %}
            <div class="form-group" style="margin-bottom: 20px;">
            <label>Файлы от техника</label>
            <div class="photo_container">
                {% for media in technik_files %}
                {% if media[2].endswith('.mp4') or media[2].endswith('.webm') or media[2].endswith('.MOV') or
                media[2].endswith('.mov') %}
                <!-- Если это видео -->
                <a href="/order/technik/file/show/{{ media[2] }}">
                    <img src="/order/photo/show/{{ media[2] }}" alt="Video" class="photo_thumbnail">
                </a>
                {% elif media[2].endswith('.jpg') or media[2].endswith('.png') or media[2].endswith('.jpeg') %}
                <div class="photo_wrapper">
                    <!-- Если это фото -->
                    <a href="/order/technik/file/show/{{ media[2] }}">
                        <img src="/order/technik/file/show/{{ media[2] }}" alt="Photo" class="photo_thumbnail">
                    </a>
                </div>
                {%else%}
                <a href="/order/technik/file/show/{{ media[2] }}">{{ media[2] }} </a>
                  {% endif %}
                {% endfor %}
            </div>
            </div>
            {% endif %}

         {% if order[15] %}
        <div class="form-group">
            <label>Пожелания от техника:</label>
            <textarea id="technik_comment" readonly>{{ order[15] }}</textarea> <br><br>
        </div>
            {% endif %}

    </div>

</div>
<!--<script src="/js/create_order.js"></script>-->
<script src="/js/show_order.js"></script>

</body>
</html>
