<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/css/technik_personal_account.css">
    <link rel="icon" href="/images/tooth.png" type="image/png">
</head>
<body>
<header>
    <h1>
        <img src="/images/logo.png" alt="Логотип" width="100" height="65">
        Личный кабинет
    </h1>
    <form method="get" action="/logout">
        <input type="submit" value="Выход">
    </form>
</header>
<div class="container">
    <h2>Добро пожаловать, {{fio}}!</h2>
    <label for="doctor">Выберите врача:</label>
    <select id="doctor" name="doctor">
        <option value="None" selected>Все врачи</option>
        {% for doctor in doctors %}
        <option value="{{doctor.id}}">{{doctor.name}}</option>
        {% endfor %}
    </select><br><br>
    <div class="table-container">
        <h2>Невыполненные заказы</h2>
        <table id="not-done-orders">
            <tr>
                <th>Врач</th>
                <th>ФИО пациента</th>
                <th>Зубная формула</th>
                <th>Вид работы</th>
                <th>Дата сдачи работы</th>
                <th>Подробнее</th>
            </tr>
            {% for order in not_done %}
            <tr data-doctor-id="{{order[6].id}}">

                <td>{{order[6].name}}</td>
                <td>{{order[1]}}</td>
                <td>{{order[2]}}</td>
                <td>{{order[3]}}</td>
                <td>{{order[5]}}</td>
                <td><a href="/order/get/{{order[0]}}">Подробнее</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-container">
        <h2>Отправлены на примерку</h2>
        <table id="fitting-done-orders">
            <tr>
                <th>Врач</th>
                <th>ФИО пациента</th>
                <th>Зубная формула</th>
                <th>Вид работы</th>
                <th>Дата сдачи работы</th>
                <th>Подробнее</th>
            </tr>
            {% for order in fitting_done %}
            <tr class="yellow" data-doctor-id="{{order[6].id}}">
                <td>{{order[6].name}}</td>
                <td>{{order[1]}}</td>
                <td>{{order[2]}}</td>
                <td>{{order[3]}}</td>
                <td>{{order[5]}}</td>
                <td><a href="/order/get/{{order[0]}}">Подробнее</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-container">
        <h2>Выполненные заказы</h2>
        <table id="done-orders">
            <tr>
                <th>Врач</th>
                <th>ФИО пациента</th>
                <th>Зубная формула</th>
                <th>Вид работы</th>
                <th>Дата сдачи работы</th>
                <th>Подробнее</th>
            </tr>
            {% for order in done %}
            <tr class="green" data-doctor-id="{{order[6].id}}">
                <td>{{order[6].name}}</td>
                <td>{{order[1]}}</td>
                <td>{{order[2]}}</td>
                <td>{{order[3]}}</td>
                <td>{{order[5]}}</td>
                <td><a href="/order/get/{{order[0]}}">Подробнее</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script src="/js/technik_personal_account.js"></script>
</body>
</html>